.main__video__div{
    /* background-color: black; */
    height: calc(100vh - 100px);
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* transform: translateY(10%); */
}

.main__video{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -999;
    width: 100%;;
    /* height: 100vh; */
}

.gold__details__div{
    height:calc(100vh + 100px)
}