.navBar__container{
    /* width: 100px;
    height: 100vh; */
    display: flex;
    justify-content: center;
    /* padding: 30px 0px; */
}


.navBar__container nav{
    color:var(--primary--);

}

.signin__div{
    height: 100px;
}

.signin__div button{
   background-color: inherit;
   color: var(--ternary--);
   padding: 5px 20px;
   border: 1px solid var(--ternary--);
   border-radius:10px;
   display: flex;
    justify-content: start;
}


.navBar__container nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0px;
    width: 100px;
}

.navBar__container li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:0.9rem;
}

.navBar__container a {
    color:white;
    text-decoration: none;
}

.navBar__container button {
    width: fit-content;
    color: white;
    /* border: 1px solid white; */
}